<% if !logged_in? %>
 <div class="topnav">
  <a href="users/new">Create Account</a>
  <a href="/login">Login</a>
  <div class="fb-login-button" data-width="" data-size="small" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
</div>
  <% else %>
<div class="topnav"> 
  <a href="teams/index">View All Teams</a> 
  <a href="users_teams_path">View My Teams</a>
  <a href="players/new">Register New Player</a>
  <a href="/logout"> Logout </a> 
</div>  
<% end %> 



<body class="text-center"> 
    <h1>Welcome To Twin Tiers Cinderella Softball League</h1><br>
 
  <img src="https://media.graytvinc.com/images/810*607/softball-mgn.jpg" class="img-fluid" style="display:inline" alt="softball_gear">
</body> 
