 
    <label> Name: </label> 
    <%= text_field_tag :name %> <br>
    <label> Email: </label> 
    <%= text_field_tag :email %> <br>  
    <label> Password: </label> 
    <%= password_field_tag :password_digest %><br><br> 
    
    