<div class="topnav">
  <a href="users/new">Create Account</a>
  <a href="users/login">Login</a>
</div>


<h1> Welcome To Twin Tiers Cinderella Softball League </h1> <br><br>

<img src="https://media.graytvinc.com/images/810*607/softball-mgn.jpg">

