<nav class="topnav" style="background-color: green"> 
  <a href="/teams", style="color:black">View All Teams</a> 
  <a href="/players">View All Players</a> 
  <!-- <a href="/user/:id/teams", style="color:black">View My Teams</a> -->

  
  <a href="/logout", style="color:red"> Logout </a> 
</nav>  