<nav class="topnav" style="background-color: green"> 
  <a href="/teams", style="color:black">View All Teams</a> 
  <a href="/players">View All Players</a> 
  <a href="/users/:id/teams", style="color:black">View My Teams</a> 

  
  <a href="/logout"> Logout </a> 
</nav>  